################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/DynamicRazor/v15/Server/sqlite3
/src/DynamicRazor/bin/Debug/netstandard2.0
/src/DynamicRazor/obj
